.navigate{
    display: flex;
    color: rgb(115, 115, 222);
    padding: 20px;
    margin: 120px;
    
}
.navigate a{
    padding: 20px 30px;
}
 h1{
    color: blue;
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}

